# https://github.com/mediawiki-utilities/python-mwxml/pull/19
git+https://github.com/gdedrouas/python-mwxml@xml_format_0.11
git+https://github.com/mediawiki-utilities/python-mwtypes@updates_schema_0.11
chainlit==1.0.506
chromadb>=0.4.22
fastapi>=0.109.1
langchain==0.1.16
openai>=1.12.0
mwparserfromhell==0.6.6
sentence-transformers>=2.3.0
starlette>=0.36.2
tqdm>=4.66.1
